@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

a {
  text-decoration: none;
}

li, ul {
  list-style-type: none;
}

.text-loading {
  font-size: 18px;
  color: blue;
}

.paragraph {
  color: black;
}